



.env
/env
node_modules/
node_modules
/src/generated/prisma

/src/generated/prisma

/src/generated/prisma
./config
config/config.json
../config/
config

./test

./src/test
DockerFile 
DockerFile
.gitignore


